<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/navbar'); %>
    <div class="container">
      <h1>Index Page</h1>
      <div id="app">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
